/DataPreparation/RawData/Boston/tiles/
/DataPreparation/RawData/Berkshires/
/DataPreparation/RawData/Hyannis/
/DataPreparation/landcover_tile_5000_5000.tif
/DataPreparation/landcover_tile_5000_0.tif
/DataPreparation/test_sat_tile.tif
/DataPreparation/umass_satellite.tif
